<div>
  <md-table>
    <md-table-header>
      <md-table-row>
        <md-table-head>
          Name
        </md-table-head>
        <md-table-head>
          Description
        </md-table-head>
        <md-table-head>
          Number of stars
        </md-table-head>
        <md-table-head>
          Number of Forks
        </md-table-head>
        <md-table-head>
          Number of Issues
        </md-table-head>
        <md-table-head>
          Language
        </md-table-head>
        <md-table-head>
          Size
        </md-table-head>
      </md-table-row>
    </md-table-header>
    <md-table-body>
      <md-table-row v-for="repository in repositories">
        <md-table-cell>
          <a :href="repository.html_url" target="_blank">
            {{ repository.name }}
          </a>
        </md-table-cell>
        <md-table-cell>
          {{ repository.description }}
        </md-table-cell>
        <md-table-cell>
          {{ repository.stargazers_count }}
        </md-table-cell>
        <md-table-cell>
          {{ repository.forks_count }}
        </md-table-cell>
        <md-table-cell>
          {{ repository.open_issues_count }}
        </md-table-cell>
        <md-table-cell>
          {{ repository.language }}
        </md-table-cell>
        <md-table-cell>
          {{ repository.size }}
        </md-table-cell>
      </md-table-row>
      <md-table-row v-if="repositories.length === 0">
        <md-table-cell>
          No repositories
        </md-table-cell>
      </md-table-row>
    </md-table-body>
  </md-table>
</div>
